<h1>{{ title }}</h1>

<!-- The `routerLink` is the selector for the RouterLink directive that turns user clicks into router navigations. -->
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
  <a routerLink="/angularLifeCycle">Angular Life Cycle</a>
  <a routerLink="/pipeExperiment">Pipe Experiment</a>
</nav>

<!-- The `<router-outlet>` tells the router where to display routed views. -->
<router-outlet></router-outlet>

<!-- <app-messages></app-messages> -->

<!-- <input #inputAquaticCreature type="text" placeholder="Enter a new creature">
<button (click)="addAquaticCreatures(inputAquaticCreature.value)">ADD CREATURE</button>
<app-item-detail [data]="aquaticCreatures"></app-item-detail> -->



